
code.language-html,
code.language-javascript,
code.language-shell,
code.language-powershell,
code.language-json
{
  padding: 25px;
  width:100%;
  height: auto;
  color: #ddd;
  background-color: #000;
  border-radius: 10px;
  font-family: monospace;
  font-size: 18px;
  box-sizing: border-box;
  outline: aqua;
  -webkit-user-select: all;
}

.y {
  background-color: #ffbd2e;
}

.g {
  background-color: #27c93f;
}

.r {
  background-color: #ff5f56;
}

#logo {
  text-align: center;
  height: 150px;
  margin: 20px;
}

.dot {
  margin-right: 5px;
  float: left;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}
