.floating-object {
  animation: floating 9s ease-in-out infinite;
  transition: all 1s ease-in-out;
  transform: translate(0, 0);

}

@keyframes floating {
	0% {
		transform: translate(0, -1%);
	}

	50% {
		transform: translate(0, -10%);
	}

	70% {
		transform: translate(0, -1%);
	}

	100% {
		transform: translate(0, 0);
	}
}
